@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo {
    text-decoration: none;
    color: rgb(100, 0, 0);
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color: rgb(100, 0, 0);
    font-weight: 500 ;
    font-size: 1.1em ;
    padding-left: 30px ;
}

section{
    padding: 100px 200px;
}

.main  {
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/13505.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color:aliceblue;
    font-size: 1.4cm;
    font-weight: 500;
    align-items: left center;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(88, 15, 2);
    font-size: 1.2em;
    font-weight: 200;

}
